page-details-root {
	.facilitiesIcon{
	  width:36px;
	  height:36px;
	  background-color: #8EC63F;
	  -moz-border-radius:36px;
	  -webkit-border-radius: 36px;
	  padding:5px;
	  margin-right:8px;
	}
	.material-icons{
	  color:#8EC63F;
	}
	#parcDetailsLittle{
	  font-size:1em;
	  color:#33B9B2;
	}
	#parcDetailsMiddle{
	  font-size:1.5em;
	  color:#3AB54A;
	}
	#parcDetailsOld{
	  font-size:2em;
	  color:#FE9F1F;
	}
	.separator{
	  border-top:1px solid #e0e0e0;
	}
	.details span {
		position: relative;
		top: -6px;
	}

}
