page-details-root {
	#mapDetail{
		width:100%;
		height:200px;
	}
	#mapStreetView{
	 	width:100%;
  		max-width: 100%;
  		height:200px;
	}
	.facilitiesIcon{
	  width:56px;
	  height:56px;
	  background-color: #8EC63F;
	  -moz-border-radius:62px;
	  -webkit-border-radius: 62px;
	  padding:5px;
	  margin-right:8px;
	}
	.material-icons{
	  color:#8EC63F;
	}
	#parcDetailsLittle{
	  font-size:1em;
	  color:#33B9B2;
	}
	#parcDetailsMiddle{
	  font-size:1.5em;
	  color:#3AB54A;
	}
	#parcDetailsOld{
	  font-size:2em;
	  color:#FE9F1F;
	}
	.separator{
		margin-top:16px;
		margin-bottom:16px;
	 	border-top:1px solid #e0e0e0;
	}
	.details span {
		position: relative;
		top: -6px;
		font-size:1.2em;
	}
	.mapDetails{
		padding:16px;
	}
	.hide{
  		display: none;
	}
	.other .material-icons{
		font-size: 44px;
	    color: #8EC63F;
	    position: relative;
	    left: -4px;
	}
	.other span{
		position:relative;
		top:-16px;
	}
	.weather h4{
		font-size:1.2rem;
		margin-bottom: 0;
	}
	.wi{
		color: #8EC63F;
		font-size:3em;
	}
	.temperature{
		color: #8EC63F;
	}
	.forecastWeather, .forecastWeather .grid{
		padding:0px;
		text-align:center;
	}
	.current{
		background: #8EC63F;
		color:#FFFFFF;
		text-align:center;
		padding-bottom:0px;
	}
	.current .temperature, .current .wi{
		color: #FFFFFF;
	}
	h3.uvIndex{
		margin-top: 0;
	    margin-bottom: 1rem;
	    font-size:1.8rem
	}
	.uvIndex0,.uvIndex1,.uvIndex2{
		background: rgb(40, 149, 0);
	}
	.uvIndex3,.uvIndex4,.uvIndex5{
		background: rgb(247, 228, 0);
	}
	.uvIndex6,.uvIndex7,.uvIndex8{
		background: rgb(248, 89, 0);
	}
	.uvIndex9,.uvIndex10{
		background:rgb(248, 89, 0);
	}
	.uvIndex11, .uvIndex12,.uvIndex13, .uvIndex14,.uvIndex15, .uvIndex16,.uvIndex17, .uvIndex18,.uvIndex19, .uvIndex20,.uvIndex21, .uvIndex22{
		background:rgb(107, 73, 200);
	}
	.mapDetails .rating {
        -webkit-box-align: left;
        -webkit-align-items: left;
        -moz-box-align: left;
        -ms-flex-align: left;
        align-items: left;
        -webkit-box-pack: left;
        -webkit-justify-content: left;
        -moz-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
    }
    .mapDetails .star{
        width:13px;
    }
    .mapDetails .item-md {
   		padding-left:0px;
   	}

    .mapDetails .label-md {
    	margin: 7px 0px 0px 0px;
	}
    .reviews h2{
    
    }
    .reviews{
   		margin:-1px 0 0px;
    }
}
