page-contact {
	.toolbar-background-md{
		background:#8EC63F;
	}
	.toolbar-title-md{
		color:#FFFFFF;
	}
	.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
		color:#FFFFFF;
	}
	.send{
		margin-top:64px;
	}
	.footer{
		text-align:center;
	}
	.footer img{
		width:64px;
	}
}
