page-home {
	.toolbar-background-md{
		background:#8EC63F;
	}
	.toolbar-title-md{
		color:#FFFFFF;
	}
	.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
		color:#FFFFFF;
	}
	#map {
        height: calc(100%);
        min-height:1px;
    }
	.rating {
		float:left;
	}
	.material-icons{
		color:#8EC63F;
	}
	.split-pane-content-primary{
		height:100%;
	}
	.lower-component{
		overflow-y:scroll;
	}
	.upper{
		height:calc(100%);
	}
	#user-pic{
		display: inline-block;
	    background-repeat: no-repeat;
	    width: 40px;
	    height: 40px;
	    background-size: 55px;
	    border-radius: 20px;
	    float:right;
	}
	.list-md {
   		margin: -1px 0 0px;
	}
	.scroll-content{
		overflow:hidden;
	}
	split-gutter[_ngcontent-c0] {
	    background-color: #8EC63F;
	}
	#logo{
		float:left;
	}
	.list-ios {
    	margin: -1px 0 0px;
	}
	.add{
		background-color: #F2403C;
	}
}
