<ion-header>
  <ion-navbar hideBackButton="true">
    
    <img src="assets/images/logo8.png" height="40px" id="logo">
	<ion-searchbar 
		[(ngModel)]="autocomplete.query" 
		[showCancelButton]="true" 
		(ionInput)="updateSearch()" 
		placeholder="{{'header.ENTERLOCATION' | translate }}" style="width:70%;float:left">
	</ion-searchbar>
	<ion-spinner name="crescent" *ngIf="loadingCompleted !=true"></ion-spinner>
	<div id="user-pic"></div>
	<button ion-button menuToggle right	>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding >
	
	<ion-list>
		<ion-item *ngFor="let item of autocompleteItems" 
		(click)="chooseItem(item)">
		{{ item.description }}
		</ion-item>
	</ion-list>
	<split direction="vertical" gutterSize="24">
    <split-area [size]="80">
        <div id="map"></div>
        <div id="map2"></div>
    </split-area>
    <split-area [size]="20">
		<ion-list>
		  	<ion-item class="text" *ngFor="let parc of parcs | orderbydistance " [navPush]="parcDetails" [navParams]="{key:parc.parcItem.$key, map:map}">
			<h2>
				<span *ngIf="parc.parcItem.name !==''">{{parc.parcItem.name}} </span>
				<span *ngIf="parc.parcItem.name ==''">{{ 'list.NONAMEPARC' |translate}} </span>
			</h2>
			<h3>
				<span *ngIf="parc.parcItem.rate !=null">
					<star-rating-comp [starType]="'svg'" [rating]="parc.parcItem.rate.rate" [readOnly]="true"></star-rating-comp>
				</span> | {{parc.distance}} km
			</h3>
			<ion-avatar item-end  *ngIf="parc.parcItem.validationNumber>4 && parc.parcItem.open">
				<i class="material-icons" >beenhere</i>
			</ion-avatar>
			<ion-avatar item-end  *ngIf="parc.parcItem.validatedByInstitution ===true">
				<i class="material-icons">account_balance</i>
			</ion-avatar>
			<ion-avatar item-end  *ngIf="!parc.parcItem.open">
				<i class="material-icons" >close</i>
			</ion-avatar>
			
			<ion-avatar item-end  *ngIf="parc.parcItem.free ===false">
				<i class="material-icons">&#xE263;</i>
			</ion-avatar>
		  </ion-item>
		</ion-list>
		<div *ngIf="noParcReturned === true" class="noparc">{{ 'map.NOPARCFOUND' |translate}}</div>
    </split-area>

</split>
<ion-fab bottom right >
	<button ion-fab mini class="add" (click)="addParc()"><ion-icon name="add"></ion-icon></button>
</ion-fab>
			
	 
</ion-content>
