page-home {
	.toolbar-background-md{
		background:#8EC63F;
	}
	.toolbar-title-md{
		color:#FFFFFF;
	}
	.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
		color:#FFFFFF;
	}
	#map {
        height: 100%;
    }
	.rating {
		float:left;
	}
	.material-icons{
		color:#8EC63F;
	}
}
