<ion-menu [content]="mycontent" side="right">
	    <ion-header>
		    <ion-toolbar>
		      	<ion-title>Menu</ion-title>
		    </ion-toolbar>
		</ion-header>
  <ion-content>
    <ion-list>
      <button  ion-item menuClose (click)="openLanguage()">
        {{'header.LANGUAGE'|translate}}
      </button>
      <button  ion-item menuClose (click)="showFirstPage()">
        {{'header.MOREINFO'|translate}}
      </button>
      <button  ion-item menuClose (click)="showContactPage()">
        {{'header.FEEDBACKBUTTON'|translate}}
      </button>
      <button  ion-item menuClose (click)="signInWithFacebook()" *ngIf="userSigned === false">
        {{ 'header.SIGNINFACEBOOK'| translate }}
      </button>
      <button  ion-item menuClose (click)="signOut()" *ngIf="userSigned === true">
       {{ 'header.SIGNOUT'| translate }}
      </button>
      <button  ion-item menuClose (click)="showLegalMention()" >
       {{ 'header.LEGALMENTION'| translate }}
      </button>

    </ion-list>

    
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #mycontent>

</ion-nav>
