// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


ion-app.md [padding], ion-app.md {
	padding:0px;
}
ion-app.md [padding], ion-app.md [padding] .scroll-content{
	padding:0px;
}
@font-face{
	font-family: dosis;
	src: url('../assets/font/dosis.woff2') format('woff2');
}
 
*{
	font-family: dosis;
}

ion-app.ios [padding], ion-app.ios [padding] .scroll-content{
	padding:0px;
}
.toolbar-background-ios{
	background: #8EC63F;
	color:#FFFFFF;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
	color:#FFFFFF;
}
.toolbar-title-ios{
	color:#FFFFFF;
}
.button-outline-ios{
	color:#FFFFFF;
	border-color:#FFFFFF;
}
.signout{
	position:absolute;
	bottom:0px;
}
#topProfile, #topProfile p{
	background: #8EC63F;
	color:#FFFFFF;
}
#topProfile .item-inner{
	border:none;
}
.splash{
	position:absolute;
	z-index:9999;
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	background:#8EC63F;
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FFF;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}