<ion-menu [content]="mycontent" side="right">
	    <ion-header>
		    <ion-toolbar>
		      	<ion-title>Menu</ion-title>
		    </ion-toolbar>
		</ion-header>
  <ion-content>
    <ion-list>
      <button  ion-item menuClose (click)="changelanguage('en')">
       	{{ 'header.LANGUAGEMENUEN'| translate }} 
      </button>
      <button  ion-item menuClose (click)="changelanguage('fr')">
       	{{ 'header.LANGUAGEMENUFR'| translate }} 
      </button>
      <button  ion-item menuClose (click)="changelanguage('it')">
        {{ 'header.LANGUAGEMENUIT'| translate }} 
      </button>
      <button  ion-item menuClose (click)="changelanguage('de')">
        {{ 'header.LANGUAGEMENUDE'| translate }} 
      </button>
      <button  ion-item menuClose (click)="showFirstPage()">
        {{'header.MOREINFO'|translate}}
      </button>
      <button  ion-item menuClose (click)="signInWithGoogle()" *ngIf="userSigned === false">
        {{ 'header.SIGNINGOOGLE'| translate }}
      </button>
      <button  ion-item menuClose (click)="signInWithFacebook()" *ngIf="userSigned === false">
        {{ 'header.SIGNINFACEBOOK'| translate }}
      </button>
      <button  ion-item menuClose (click)="signOut()" *ngIf="userSigned === true">
       {{ 'header.SIGNOUT'| translate }}
      </button>

    </ion-list>

    
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #mycontent>

</ion-nav>
