page-update-parc{
#mapUpdateDetail{
	width:100%;
	height:calc(50%);	
}
.toolbar-background-md{
	background-color: #8EC63F;
}
.toolbar-content-md {
	text-align:center;
}
.button-outline-md {
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    color: #FFFFFF;
    font-size:0.8em;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    width:47%
}
    #parcDetailsLittle{
      font-size:1em;
      color:#33B9B2;
      margin-top:10px;
    }
    .separator{
        height:32px;
    }
    #parcDetailsMiddle{
      font-size:1.5em;
      color:#3AB54A;
    }
    #parcDetailsOld{
      font-size:2em;
      color:#FE9F1F;
    }
    .facilitiesIcon{
      width:36px;
      height:36px;
      background-color: #8EC63F;
      -moz-border-radius:36px;
      -webkit-border-radius: 36px;
      padding:5px;
      margin-right:8px;
    }
    ion-avatar .material-icons{
      color:#8EC63F;
      top: 7px;
      position: relative;
    }
    .item-md,.item-ios{
        padding-left:10px;
    }  
    #lbl-35{
        font-size:0.8em;
    }
    .item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start], .item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left], .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start]{
        margin-right:0px;
    }

    .other .material-icons{
      font-size:40px;
      color:#8EC63F;
      top: 0px;
      position: relative;
    }
    .other input{
      padding-left:6px;
      font-size: 0.8em;
    }


}

