page-first-visit {
	.firstVisit{
		text-align:center;
		color:#FFFFFF;
		background-color:color($colors, primary);
	}
	.logo{
		background:none;
	}

	.feature{
		margin: 40px 12px 12px 12px;
	}
	.footer{
		margin: 40px 12px 12px 12px;
		color:#dddddd;
		position: absolute;
   	 	bottom: 25px;
	}
	.button-md{
		background: #F2403C;
	}

	a .button-outline-md{
		background: #8EC63F;
		color:#FFFFFF;
		border-color:#FFFFFF;
	}
	a .material-icons{
		margin-right:12px;
	}
	.swiper-pagination-bullet-active{
		background:#FFFFFF;
	}
	.slide-zoom{
		height:100%;
	}
	.imgWrapper{
		height:calc(50%);
	}
	.imgWrapper ion-img {
		display: inline-block;
	    /* min-width: 100%; */
	    background: #eee;
	    contain: content;
	}
    
	.swiper-container{
		padding-top:32px
	}
}
