page-first-visit {
	.firstVisit{
		text-align:center;
		color:#FFFFFF;
		background-color:color($colors, primary);
	}
	.logo{
		background:none;
	}

	.feature{
		margin: 40px 12px 12px 12px;
	}
	.footer{
		margin: 40px 12px 12px 12px;
		color:#dddddd;
		position: absolute;
   	 	bottom: 25px;
	}
	.button-md{
		background: #F2403C;
	}
	.button-ios{
		background: #F2403C;
		color:#FFFFFF;
	}
	.button-outline-ios{
		background: #8EC63F;
		color:#FFFFFF;
		border-color:#FFFFFF;
	}
	a .button-outline-md{
		background: #8EC63F;
		color:#FFFFFF;
		border-color:#FFFFFF;
	}
	a .material-icons{
		margin-right:12px;
	}
	.swiper-pagination-bullet-active{
		background:#FFFFFF;
	}
	.slide-zoom{
		height:100%;
	}
	.imgWrapper{
		height: calc(70% - 70px);
   		text-align: center;
	}
	.logo{
		height: calc(70% - 150px);
   		text-align: center;
	}
	.imgWrapper ion-img,.logo ion-img{
		display: inline-block;
	    /* min-width: 100%; */
	    background: #8EC63F;
	    contain: content;
	   
   		height: 100%;
	}

	ion-img img{
	 	margin-right: auto;
   		margin-left: auto;
	}
    
	.swiper-container{
		padding-top:32px
	}
	.appName{
		margin-top:32px;
	}
	.numberOfParcs{
		margin-top:32px;
	}
}
