<!--
  Generated template for the ParcDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="parc.name!=''">{{parc.name}}
    	<star-rating-comp [starType]="'svg'" [rating]="parc.rate.rate" [readOnly]="true"></star-rating-comp>
	</ion-title>
    <ion-title *ngIf="parc.name==''">{{'list.NONAMEPARC' |translate}}
    	<star-rating-comp [starType]="'svg'" [rating]="parc.rate.rate" [readOnly]="true"></star-rating-comp>
    </ion-title>
    
    <ion-buttons end>
    	<button ion-button icon-only *ngIf="selectedTab===0" (click)="openUpdateParcModal()">
		<i class="material-icons">mode_edit</i>
	</button>
	<button ion-button icon-only *ngIf="selectedTab===0 && localParc.requestedForDeletion ===false" (click)="suggestRemove()" >
		<i class="material-icons">delete</i>
	</button>
	<button ion-button icon-only disabled *ngIf="selectedTab===0 && localParc.requestedForDeletion !==false">
		<i class="material-icons">delete</i>
	</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding scroll="false" class="topNoScroll">
	<page-details-root [parcKey]="parcKey"></page-details-root>
</ion-content>
<ion-fab bottom center edge *ngIf="selectedTab===0 && localParc.validated ==false" (click)="validate()" >
    <button bottom center ion-fab color="vibrant" class="validateButton"><ion-icon name="checkmark"></ion-icon>{{'parcDetails.VALIDATE'|translate}}</button>
</ion-fab>