page-parc-details {
    .toolbar-background-md{
    	background-color: #8EC63F;
    }
    .bar-button-default-md{
    	color:#ffffff
    }
    .toolbar-title-md{
    	color:#ffffff
    }
    #mapDetails{
            height: calc(100%);
            min-height:1px;
        }
    .topNoScroll{
    	overflow-y:hidden;
    }
    .footer .button-outline-md {
        border-width: 1px;
        border-style: solid;
        border-color: #FFFFFF;
        color: #FFFFFF;
        font-size:0.8em;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .toolbar-content-md,.toolbar-content-ios {
        text-align:center;
    }

    .toolbar-content  .default-star-filled-icon{
        fill: #FFF;
    }
    .toolbar-content  .rating.color-positive[_ngcontent-c1] .star-container[_ngcontent-c1] .star[_ngcontent-c1] svg[_ngcontent-c1], .toolbar-content .rating.color-ok[_ngcontent-c1] .star-container[_ngcontent-c1] .star[_ngcontent-c1] svg[_ngcontent-c1]{
        fill: #FFF;
    }
    .toolbar-content .rating.color-default[_ngcontent-c1] .star-container[_ngcontent-c1] .star[_ngcontent-c1] svg[_ngcontent-c1]{
        fill: #FFF;
    }
    .validateButton{
        height:100px;
        width:100px;
        left: calc(50% - 60px);
    }
    .validateButton > .button-inner {
        flex-direction: column;
        font-size:0.7em;
        background-color: #8EC63F;
        position: relative;
        top: -77px; 
    }
    .validateButton ion-icon{
        font-size: 4em;
        position: relative;
        top: 28px;
        float: right;
     }

    ion-fab[bottom][edge] {
        bottom: -41px;
    }
}
